
body {
    
    margin: 0;
    padding: 0;
    
    
    font-family: 'Arial Black', Gadget, sans-serif;
    
    
    background-color: #002244; 
    
    
    color: #FFFFFF; 
    
    line-height: 1.6;
    padding: 20px; 
}

h1, h2, h3 {
    color: #C60C30; 
    text-transform: uppercase;
    margin-top: 30px;
}

hr {
    border: none;
    height: 1px;
    background-color: #B0B7BC; 
    margin: 30px 0;
}


a {
    color: #B0B7BC; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #C60C30; 
    text-decoration: underline;
}



table {
    width: 90%; 
    margin: 20px auto;
    border-collapse: collapse; 
}

th, td {
    border: 1px solid #B0B7BC; 
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #C60C30; 
    color: #FFFFFF;
    text-transform: uppercase;
}


tr:nth-child(even) {
    background-color: #1a3c5a; 
}


tr:hover {
    background-color: #486888; 
}


img {
    max-width: 100%;
    height: auto;
    border: 5px solid #C60C30; 
    display: block;
    margin: 15px auto;
}



.gallery-item {

    float: left; 
    width: 45%; 
    margin: 15px 2.5%; 
    padding: 10px;
    border: 1px solid #B0B7BC; 
    background-color: #1a3c5a; 
    box-sizing: border-box; 
    min-height: 350px; }


.clear-fix {
    clear: both;
    height: 0;
}




th, td {
    border: 1px solid #B0B7BC; 
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #C60C30; 
    color: #FFFFFF;
}